.bash {
  padding: 5px;
  background: black;
  color: green;
}

.bordered {
  border: 2px solid black;
}

img {
  padding: 2px;
  margin: 15px 0;
}

p,
h2 {
  margin: 8px 0;
}

li {
  margin-top: 10px;
}

footer > ul {
  list-style-type: none;
}
